@import '../../common';



.section-body .heading{
    @include dataContainer();
    h1{
        margin-bottom: 0;
        font-family: $fortRusso;
        font-size: 5rem
    }
    h2{
        font-weight: 300;
        font-family: 'Kalam';
    }
    
}