<div class="section-body">
  <div class="col heading text-center">
    <div>
      <h1>Russi Sinha</h1>
      <div class="container">
        <h2>
          Seasoned software engineer with 10 years of experience delivering scalable, high-performance web applications. 
          Skilled in developing microservices, and event-driven solutions using Java, Spring MVC, and Kafka while also delivering responsive, 
          user-friendly front-end applications with Angular, React, TypeScript, HTML5, and CSS3. 
          Adept at collaborating with cross-functional teams in Agile/Scrum environments, driving innovation through robust engineering practices, 
          and mentoring peers to deliver high-quality, customer-focused solutions.
        </h2>
      </div>
      
    </div>
  </div>
</div>