@import '../../common';

.contentHolder{
    @include dataContainer();
    //padding: 1rem;
    border-radius:10px;
    border: 1px solid rgba($partitionColor, .5);
    font-size: 1rem;

    .workExpSet{
        color: $primary-color;
        justify-content: center;
        align-content: center;
        .items-workExpList{
            //padding: 1rem;
            line-height: 1.4;
            font-size: 1em;
            .logo{
                width: 10em;
                // height: 10rem;
                // margin: 1rem;
                //background-position: center;
                // background-repeat: no-repeat;
                // background-size: contain;
                //background-color: rgba(255, 255, 255, 0.5);
                //border-radius: 50%;
                // box-shadow: 1px 1px 1px black;
                filter: drop-shadow(5px 5px 2px rgba(0, 0, 0,1));
                //transition: all 0.2s linear;
            }
            .position_info{
                font-size: 1.3em;
                .position{
                    font-weight: bold; 
                    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
                }
                .companyName{
                    font-style: italic;
                }
                .duration{
                    font-weight: lighter;
                    // .startYear{
                    // }
                    // .endYear{
                    // }
                }
            }
            .company_info{
                font-size: 1.1em;
                .title{
                    text-decoration: underline;
                }
                // .description{
                // }
            }
            .project_info{
                font-size: 1.1em;
                .project_title{
                    .title span{
                        text-decoration: underline;
                    }
                    
                }
                .project_description{
                    font-size: 1em;
                    .title{
                        text-decoration: underline;
                    }
                    // .responsibilities{
                    // }    
                }
            }
        }
        hr{
            border-color: rgba($partitionColor, .3)
        }   
    }

    .projectsSet{
        color: $primary-color;
        justify-content: center;
        align-content: center;
        .items-projectsList{
            //padding: 1rem;
            line-height: 1.4;
            font-size: 1em;
                .project_title{
                    font-size: 1.2em;
                    .title span{
                        text-decoration: underline;
                    }
                    
                }
                .project_description{
                    font-size: 1.1em;
                    .title{
                        text-decoration: underline;
                    }
                    // .description{
                    // }
                    .links .btn{
                        font-size: 1.1em;
                    }
                }
            }
        hr{
            border-color: rgba($partitionColor, .3)
        }   
    }
    
    
    hr{
        border-color: $partitionColor;
    }
}

