
<div class="section-body row align-items-center"> <!-- justify-content-center -->
  <div class="container">
    <div class="contentHolder">
      <div class="row" *ngIf="workExpList && workExpList.length > 0; else nodata">
        <div class="col">
          <div class="row primarySet flex-column">
            <div class="col items-workExpList my-4" *ngFor="let company of workExpList">
              <div class="row flex-column flex-md-row align-items-md-end align-items-center mb-3">
                <div class="logo mx-auto mx-md-3 mb-2 mb-md-0"> <!-- [ngStyle]="{'background-image':'url('+imagePath+item.logo+')'}" -->
                  <img [src]="imagePath+company.logo" class="img-fluid">
                </div>
                <div class="col position_info text-md-left text-center">
                  <div class="position">{{company.position}}</div>
                  <div class="companyName">{{company.companyName}}</div>
                  <div class="duration">
                    <span class="startYear">{{company.startYear | projectDate }}</span> - <span class="endYear">{{company.endYear | projectDate }}</span>
                  </div>
                </div>
              </div>
              <div class="row company_info mb-3" *ngIf="company.description">
                <div class="col-12 title">About the company</div>
                <div class="col-12 description">{{company.description}}jkgvkjvgvjkvh</div>
              </div>
              <div class="row flex-column project_info" *ngIf="company.projects">
                <div class="col" *ngFor="let project of company.projects">
                  <div class="row project_title mb-3" *ngIf="project.title">
                      <div class="col-12 title"><span>Title:</span> {{ project.title }} </div>
                  </div>
                  <div class="row project_description mb-3" *ngIf="project.responsibilities">
                    <div class="col-12 title text-md-left text-center">Roles and responsibilities:</div>
                    <div class="col-12 responsibilities">
                      <ul>
                        <li *ngFor="let item of project.responsibilities">{{ item }}</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
            
          </div>
          <!-- <div class="row">
            <div class="col-12">
              <hr>
            </div>
          </div> -->
          <!-- <div class="row secondarySet">
            <div class="m-2 items-skills text-center" *ngFor="let item of projectsList | primaryFilter:false">
              <div class="logo" [ngStyle]="{'background-image':'url('+imagePath+item.logo+')'}">
                <div class="name">{{item.name}}</div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
    <ng-template #nodata>
      <div class="row justify-content-center text-center" >
        {{statusMessage}}
      </div>
    </ng-template>
  </div>
  
</div>
