
<div class="section-body row align-items-center"> <!-- justify-content-center -->
  <div class="container">
    <div class="contentHolder p-3 my-md-5 my-4">
      <div class="row mb-3 mt-1 section-title justify-content-center">
        My Projects
      </div>
      <div class="row workExpSet flex-column" >
        <ng-container *ngIf="workExpList && workExpList.length > 0; else nodata">
          <ng-container *ngFor="let company of workExpList; last as isLast">
            <div class="col items-workExpList my-3 px-md-5">
              <div class="row flex-column flex-md-row align-items-md-end align-items-center mb-3">
                <div class="logo mx-auto mx-md-3 mb-2 mb-md-0"> <!-- [ngStyle]="{'background-image':'url('+imagePath+item.logo+')'}" -->
                  <img [src]="imagePath+company.logo" class="img-fluid">
                </div>
                <div class="col position_info text-md-left text-center">
                  <div class="position">{{company.position}}</div>
                  <div class="companyName">{{company.companyName}}</div>
                  <div class="duration">
                    <span class="startYear">{{company.startYear | projectDate }}</span> - <span class="endYear">{{company.endYear | projectDate }}</span>
                  </div>
                </div>
              </div>
              <div class="row company_info mb-3" *ngIf="company.description">
                <div class="col-12 title">About the company</div>
                <div class="col-12 description">{{company.description}}jkgvkjvgvjkvh</div>
              </div>
              <div class="row flex-column project_info" *ngIf="company.projects">
                <div class="col" *ngFor="let project of company.projects">
                  <div class="row project_title mb-2" *ngIf="project.title">
                    <div class="col-12 title"><span>Title:</span> {{ project.title }} </div>
                  </div>
                  <div class="row project_description mb-2" *ngIf="project.responsibilities">
                    <div class="col-12 title text-md-left text-center">Roles and responsibilities:</div>
                    <div class="col-12 responsibilities">
                      <ul class="m-0">
                        <li *ngFor="let item of project.responsibilities">{{ item }}</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
            <div class="col" *ngIf="!isLast">
              <hr>
            </div>
          </ng-container>
        </ng-container>
        <ng-template #nodata>
          {{workExpStatusMessage}}
        </ng-template>
      </div>
      <div class="row">
        <div class="col-12">
          <hr>
        </div>
      </div>
      <div class="row projectsSet flex-column" >
        <ng-container *ngIf="projectsList && projectsList.length > 0; else nodata">
          <ng-container *ngFor="let project of projectsList; last as isLast">
            <div class="col items-projectsList my-1 px-md-5">
              
              <div class="row project_title mb-2" *ngIf="project.title">
                <div class="col-12 title"><span>Title:</span> {{ project.title }} </div>
              </div>
              <div class="row project_description mb-2" *ngIf="project.description">
                <div class="col-12 title text-md-left text-center">Description:</div>
                <div class="col-12 description mb-2">
                  <ul class="">
                    <li *ngFor="let item of project.description">{{ item }}</li>
                  </ul>
                </div>
                <div class="col-12 links" *ngIf="project.repoUrl || project.pageUrl">
                  <a *ngIf="project.repoUrl" class="btn btn-outline-light" [href]="project.repoUrl" target="_blank">{{project.repoUrlText}} <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
                </div>
              </div>
              
            </div>
            <div class="col" *ngIf="!isLast">
              <hr>
            </div>
          </ng-container>
        </ng-container>
        <ng-template #nodata>
          {{workExpStatusMessage}}
        </ng-template>
      </div>
    </div>
    
  </div>
  
</div>
