@import './common';
$bg: desaturate(darken($primary-color, 30%), 70%);
header {
    //height: 100px;
    background: linear-gradient(
        rgba( $bg, 1.15 ) 0%,
        transparent 100%

        );
    font-size: 1.5rem;
    
    .navbar-brand{
        align-self: stretch;
        margin-left: 2rem;
        margin-right: 2rem;
        font-size: 1.25em;
    }
    .navbar-toggler{
        font-size: 1.25em;
    }
    .logo{
        height: 100%;
        font-size: 2em;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-family: $fortRusso;
        animation: anim-logo1 1s cubic-bezier(.2,0,1,0) 0s 1 both;
        //text-shadow: 0px 0px 10px red;
        
        div{
            line-height: 1em;
        }
        
    }
    
    .navbar-nav .nav-link{
        cursor: pointer;
    }
}

footer{
    background-color: rgba( $primary-color, .45 );
    .txt{
        font-size: 1.3rem
    }
    .navbar-nav {
        line-height: 1;
        .nav-item{
            font-size: 2.5rem;
            //border-right: 1px solid rgba(218, 255, 230, 0.648);
        }
        a
        {
            cursor: pointer;
        }
    }
}

@function pad($x,$y,$op) {
    $color: rgba(rgb(147, 147, 147), $op);
    $blur: 10px;
    @return #{$x}px #{$y}px $blur $color;
}
@mixin anim1-mix($val,$op){
    $shadow: null;
    $count: 4;
    $x: $val;
    $y: $val;
    @for $i from 1 through $count {
        $shadow: $shadow#{if($i !=1, ',', '')} pad($x, $y, $op);
        $x: if($i % 2 == 0, $x*-1, $x);
        $y:$y*-1;
    }
    text-shadow: $shadow;
}

@keyframes anim-logo1{
    0%{
        @include anim1-mix(80,0)
    }
    100%{
        @include anim1-mix(0, 1)
    }
    
}


.pageContent{
    background-image: url('#{$imagePath}/bg2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    main{
        margin-top: 4.5rem;
    }
}

