
<div class="container-fluid pageContent">
    
    <header class="navbar navbar-expand navbar-dark fixed-top"> <!-- fixed-top -->
        <a class="navbar-brand pt-0 pb-0">
            <div class="logo text-dark">
                <div>RS</div>
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto"> <!-- mt-2 mt-lg-0 -->
                <li class="nav-item">
                    <a class="nav-link" (click)="goToSection(home)">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="goToSection(skills)">Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="goToSection(projects)">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="goToSection(contact)">Contact Me</a>
                </li>
                
            </ul>
        </div>
    </header>
    
    <main>
        <section #home>
            <app-home></app-home>
        </section>
        <section #skills>
            <app-skills></app-skills>
        </section>
        <section #projects>
            <app-projects></app-projects>
        </section>
        <section #contact>
            <app-contact></app-contact>
        </section>
    </main>
    
    <footer class="navbar navbar-expand text-light row">
        <ul class="navbar-nav m-auto"> <!-- mt-2 mt-lg-0 -->
            <li class="nav-item ml-4 mr-4">
                <a href="https://github.com/russisinha" target="_blank" class="text-light">
                    <i class="fa fa-github"></i>
                </a>
            </li>
            <li class="nav-item ml-4 mr-4">
                <a target="_blank" class="text-light">
                    <i class="fa fa-instagram"></i>
                </a>
            </li>
            <li class="nav-item ml-4 mr-4">
                <a target="_blank" class="text-light">
                    <i class="fa fa-facebook-square"></i>
                </a>
            </li>
            <li class="nav-item ml-4 mr-4">
                <a href="https://www.linkedin.com/in/russi-sinha/" target="_blank" class="text-light">
                    <i class="fa fa-linkedin-square"></i>
                </a>
            </li>
            
        </ul>
    </footer>
    
</div>