
<div class="container-fluid pageContent">
    
    <header class="fixed-top" [class.headerBgHide]="showHeaderMenu"> <!-- navbar navbar-expand navbar-dark fixed-top-->
        
        <div class="logo ml-4 my-2 pull-left" [class.enlarge]="showHeaderMenu">
            RS
        </div>
        
        <div class="headerMenu mr-4 my-2 pull-right" [class.displayMenu]="showHeaderMenu">
            <div class="btnMenu" (click)="toggleHeaderMenu()">
                <div class="stroke"></div>
            </div>
            <div *ngIf="showHeaderMenu" class="mobileMenuOverlay d-md-none d-block"></div>
            <ul class=""> <!-- mt-2 mt-lg-0 -->
                <li class="">
                    <a class="" (click)="goToSection(home)">Home</a>
                </li>
                <li class="">
                    <a class="" (click)="goToSection(skills)">Skills</a>
                </li>
                <li class="">
                    <a class="" (click)="goToSection(projects)">Projects</a>
                </li>
                <!-- <li class="">
                    <a class="" (click)="goToSection(contact)">Contact Me</a>
                </li> -->
                
            </ul>
            
        </div>

    </header>
    
    <main class="row flex-column" [class.bodyBlur]="showHeaderMenu">
        <section #home>
            <app-home></app-home>
        </section>
        <section #skills>
            <app-skills></app-skills>
        </section>
        <section #projects>
            <app-projects></app-projects>
        </section>
        <!-- <section #contact>
            <app-contact></app-contact>
        </section> -->
    </main>
    
    <footer class="flex-md-row flex-column fixed-bottom" [class.showFooter]="showHeaderMenu">
        <div class="ml-md-auto mb-2 mb-md-0 txt">
            Connect with me:
        </div>
        <ul class="mr-md-auto align-items-center"> <!-- mt-2 mt-lg-0 -->
            <li class="px-3 px-md-4">
                <a href="tel:+13125226552" class="text-light">
                    <i class="fa fa-phone-square"></i>
                </a>
            </li>
            <li class="px-3 px-md-4">
                <a href="mailto:russi.sinha@gmail.com" class="text-light">
                    <i class="fa fa-envelope"></i>
                </a>
            </li>
            <li class="px-3 px-md-4">
                <a href="https://github.com/russisinha" target="_blank" class="text-light">
                    <i class="fa fa-github"></i>
                </a>
            </li>
            <li class="px-3 px-md-4">
                <a href="https://www.instagram.com/russisinha/" target="_blank" class="text-light">
                    <i class="fa fa-instagram"></i>
                </a>
            </li>
            <li class="px-3 px-md-4">
                <a target="_blank" class="text-light">
                    <i class="fa fa-facebook-square"></i>
                </a>
            </li>
            <li class="px-3 px-md-4">
                <a href="https://www.linkedin.com/in/russi-sinha/" target="_blank" class="text-light">
                    <i class="fa fa-linkedin-square"></i>
                </a>
            </li>
        </ul>
    </footer>
    
</div>