<!-- <header class="bg-dark container-fluid navbar navbar-expand-lg navbar-light bg-light">
    
</header> -->

<div class="container-fluid content">
    
    <header class="navbar navbar-expand-md navbar-dark bg-dark fixed-top"> <!-- fixed-top -->
        <a class="navbar-brand pt-0 pb-0">
            <div class="logo text-dark">
                <div>RS</div>
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav ml-auto"> <!-- mt-2 mt-lg-0 -->
                <li class="nav-item active">
                    <a class="nav-link" (click)="goToSection(home)">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="goToSection(skills)">Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="goToSection(projects)">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="goToSection(contact)">Contact Me</a>
                </li>
                
            </ul>
        </div>
    </header>
    
    <main>
        <section #skills>
            <app-skills></app-skills>
        </section>
        <section #projects>
            <app-projects></app-projects>
        </section>
        <section #contact>
            <app-contact></app-contact>
        </section>
    </main>
    
    
</div>