


<div class="section-body row justify-content-center align-items-center">
  <div class="contentHolder container">
    <div class="row ">
      <div class="col-12 flex-wrap d-flex primarySet">
        <div class="m-2 items-skills text-center" *ngFor="let item of skills | primaryFilter:true">
          <div class="logo" [ngStyle]="{'background-image':'url('+imagePath+item.logo+')'}">
            <div class="name">{{item.name}}</div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <hr>
      </div>
      <div class="col-12 flex-wrap d-flex secondarySet">
        <div class="m-2 items-skills text-center" *ngFor="let item of skills | primaryFilter:false">
          <div class="logo" [ngStyle]="{'background-image':'url('+imagePath+item.logo+')'}">
            <div class="name">{{item.name}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>


<!--  -->